* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 235, 235);
}
header {
  top: 0;
  position: sticky;
  font-size: 2.5rem;
  color: black;
  text-align: center;
  font-weight: bold;
  color: rgb(85, 77, 77);
  background-color: black;
  color: white;
  padding: 1rem;
}
.foods {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}
.food:hover {
  transform: translateY(-8px);
  transition: transform 0.3s linear;
}
.food {
  background-color: white;
  padding: 2rem;
}
.foods ul {
  list-style: none;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.foods ul > li {
  margin: 1rem;
  color: rgb(5, 4, 4);
}
.vehicles {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.vehicle-brand {
  background-color: azure;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.vehicle-brand ul {
  list-style-type: none;
  text-align: center;
}
.vehicle-brand ul > li {
  margin: 1rem;
}
.vehicle-brand:hover {
  transform: translateY(-8px);
  transition: transform 0.3s linear;
}
